body {
    font-family: 'Arial', sans-serif;
    background-color: #004d60; /* Aanpassen aan uw primaire achtergrondkleur */
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00677f; /* Aanpassen aan de kleur van uw headerachtergrond */
    padding: 10px;
    text-align: center;
}

.logo {
    max-width: 100px; /* Aanpassen aan de grootte van uw ontwerp */
    margin-bottom: 10px;
}

.content {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #00aabb; /* Aanpassen aan uw accentkleur */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #008c99; /* Donkerder voor hovereffect */
}

#parkingList div {
    background-color: #003d4f; /* Donkere kleur voor lijstitems */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}
/* Stijlen voor de 'Meer informatie' links */
.parking-item a {
    color: #00aabb; /* Tekstkleur van de link voor contrast met donkere achtergrond */
    background-color: rgba(255, 255, 255, 0.2); /* Halfdoorzichtige witte achtergrond */
    padding: 5px 10px; /* Ruimte rond de tekst */
    border-radius: 3px; /* Afgeronde hoeken */
    text-decoration: none; /* Geen onderstreping */
    display: inline-block; /* Zodat padding en border-radius toegepast worden */
    margin: 5px 0; /* Ruimte aan de boven- en onderkant */
    transition: background-color 0.3s; /* Vloeiende overgang voor achtergrondkleur */
}

.parking-item a:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Meer opvallende achtergrond bij hover */
    color: #004d60; /* Tekstkleur bij hover */
}

.footer {
    background-color: #003d4f;
    color: #ffffff; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
}
